Archivo de prueba de NFS

El Servidor es "{{  ansible_hostname }}"

La direccion IP es "{{ ansible_all_ipv4_addresses[0] }}"
La direccion IP secundaria es "{{ ansible_all_ipv4_addresses[1] }}"

La fecha de instalacion fue "{{ ansible_date_time.date }}"
La hora de la instalacion fue "{{ ansible_date_time.time  }}"
